/* Reglas por defecto*/

* {
    box-sizing: border-box;
    /*https://fonts.google.com*/
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/*Reglas asociadas a las columnas*/

.column-1 {
    width: 100%;
    float: left;
    color: white;
}

#section-2 {
    background-color: #509da0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#section-3 {
    padding: 0 7%;
}

#section-4 {
    background-color: gray;
}

.column-2 {
    width: 50%;
    float: left;
    padding: 40px;
}

.column-4 {
    width: 25%;
    float: left;
    padding: 40px;
}


/*Estilos de la página*/

#header {
    text-align: center;
    background-image: url("../img/header.jpeg");
    background-size: cover;
    padding: 370px;
    color: white;
}

#header h1 {
    font-size: 70px;
}

#header h2 {
    font-size: 50px;
}

.column-4 p {
    color: white;
}

#map {
    width: 100%;
    height: 350px;
    border: 0;
}

@media screen and (max-width: 600px) {
    /*Aqui dentro van las reglas */
    #header {
        padding: 150px 50px 150px 50px;
        height: 100vh;
    }
    #header h1 {
        font-size: 40px;
    }
    #header h2 {
        font-size: 25px;
    }
    #header {
        padding: 30vh 10px;
    }
    .column-2 {
        width: 100%;
    }
    #section-2,
    #section-3,
    .column-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}